
.container{
    width: 244px;
    height: 306px;
    background-color: #808080;
    padding: 4px;
    border-radius: 4px;
    margin : 50px auto;
}

.btn {
    width: 58px;
    height: 58px;
    background-color: #fff;
    color : #808080;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.btn:active {
    background-color: #007FE8;
}

.btn-lg {
    width: 120px;
    height : 58px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 4px;
}


/*input*/

.input{
    width: 244px;
    height: 58px;
    box-sizing: border-box;
    outline: none;
    color : #000;
    font-size: 14px;
    padding: 0 10px;
}

.input:disabled{
    background-color: #fff;
    border: solid 1px #BCE0FD ;
}